.add-proj-cta {
    background-color: var(--main);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--white);
    font-size: 1.5rem;
    transition: all ease 300ms;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-proj-cta:hover {
    cursor: pointer;
    background-color: var(--main-dark);
}

.add-proj-md button.sv {
    background-color: var(--main);
    color: var(--white);
    margin-top: 2rem;
    transition: all ease 300ms;
}

.add-proj-md button.sv:hover {
    cursor: pointer;
    background-color: var(--main-dark);
}