#tsk-pg {
    width: 100%;
    height: 100%;
    color: var(--black);
    padding: 0.25rem 1rem;
}

#tsk-pg i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 300ms;
}

#tsk-pg i:hover {
    cursor: pointer;
    background-color: rgba(29, 18, 4, 0.281);
}

#tsk-pg button.sv {
    background-color: var(--main);
    color: var(--white);
    margin-top: 2rem;
    transition: all ease 300ms;
}

#tsk-pg button.sv:hover {
    cursor: pointer;
    background-color: var(--main-dark);
}

#tsk-pg .r-side {
    width: 100%;
    overflow-y: auto;
}

#tsk-pg .r-side i {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--main);
    color: var(--white);
    transition: all ease 300ms;
}

#tsk-pg .r-side .p-divider .p-divider-content {
    color: var(--main);
    font-weight: 600;
    font-size: 1rem;
}



#tsk-pg .r-side i:hover {
    cursor: pointer;
    background-color: var(--main-dark);
}

#tsk-pg .com-ct {
    width: 100%;
    height: 100%;
}